---
import PreviewImage from './PreviewImage.astro';
import SelectCategory from '../../collections/components/SaveInCollectionButton';

interface Props {
  id: string;
  name: string;
  preview: string | null;
  types: string[];
}

const { name, id, preview, types } = Astro.props;
---

<div class='card card-compact bg-base-100 shadow-xl border border-base-content'>
  <figure>
    <a href={`/tricks/${id}`} class='flex-1'>
      {
        //quick fix add a default image if no image
        preview && (
          <PreviewImage
            src={preview}
            name={name}
            className='w-full max-w-2xl aspect-video'
          />
        )
      }
    </a>
  </figure>
  <div class='card-body'>
    <a href={`/tricks/${id}`}>
      <h2 class='card-title'>{name}</h2>
      <!-- <SelectCategory client:only trickId={id} /> -->
    </a>
    <div class='flex gap-2 flex-wrap'>
      {
        types &&
          types.length > 0 &&
          types.map((type) => (
            <div class='badge badge-secondary  p-3'>{type}</div>
          ))
      }
      <SelectCategory client:only trickId={id} />
    </div>
  </div>
</div>
