---
import PreviewImage from './PreviewImage.astro';
import SelectCategory from '@/modules/collections/components/SaveButton';
import AvatarGroup from '@/modules/creators/components/AvatarGroup.astro';
import Avatar from '@/modules/creators/components/Avatar.astro';

interface Props {
  id: string;
  name: string;
  preview: string | null;
  types: string[];
  creators?: Array<{ name: string; picture: string | null; id: string }>;
}

const { name, id, preview, types, creators } = Astro.props;
---

<div class='card card-compact shadow-xl border border-base-content'>
  <figure>
    <a href={`/tricks/${id}`} class='flex-1'>
      {
        //quick fix add a default image if no image
        preview && (
          <PreviewImage
            src={preview}
            name={name}
            className='w-full max-w-2xl aspect-video'
          />
        )
      }
    </a>
  </figure>
  <div class='card-body'>
    <div class='flex justify-between'>
      <div class='flex items-center gap-4'>
        <AvatarGroup>
          {
            creators?.map((creator) => (
              <Avatar src={creator.picture} name={creator.name} width='w-8' />
            ))
          }
        </AvatarGroup>
        <div>
          {
            creators?.map((creator, index) => (
              <>
                <a href={`/creators/${creator.id}`}>{creator.name}</a>
                {index < creators.length - 1 && <span class='-ml-1'>,</span>}
              </>
            ))
          }
        </div>
      </div>
      <SelectCategory client:only trickId={id} />
    </div>
    <a href={`/tricks/${id}`}>
      <h2 class='card-title'>{name}</h2>
    </a>

    <div class='flex gap-2 flex-wrap'>
      {
        types &&
          types.length > 0 &&
          types.map((type) => (
            <div class='badge badge-secondary p-3'>{type}</div>
          ))
      }
    </div>
  </div>
</div>
