---
import CollectionProvider from '@/modules/collections/provider';
import Layout from '@/modules/layouts/components/Layout.astro';
import TrickCard from '@/modules/tricks/components/TrickCard.astro';
import CollectionHandler from '@/modules/collections/components/CollectionHandler.astro';

import { createSSRClient } from '@/modules/supabase';
import { transitionEnabledOnThisPage } from 'astro:transitions/client';

const supabase = createSSRClient(Astro);
const {
  data: { user },
} = await supabase.auth.getUser();

if (!user) {
  return Astro.redirect('/login');
}

const collectionProvider = new CollectionProvider(user?.id, {
  ssr: true,
  Astro,
});

const userTricks = await collectionProvider.getUserCollections();
const trickIds = userTricks.map((t) => t.id);

export const prerender = false;
---

<Layout title='My Collection'>
  <CollectionHandler trickIds={trickIds} />
  <main class='mx-auto max-w-7xl w-full min-h-full p-4 md:p-8 lg:p-10'>
    <h1 class='text-3xl mb-6 capitalize'>Saved tricks ({userTricks.length})</h1>

    <div class='grid md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-10'>
      {
        userTricks?.map((trick) => (
          <TrickCard
            preview={trick.preview}
            id={trick.id}
            name={trick.name}
            types={trick.types ?? []}
            creators={trick.creators ?? []}
          />
        ))
      }
    </div>
  </main>
</Layout>
