---
import TrickCard from '@/modules/tricks/components/TrickCard.astro';
import { difficultyLevels } from '@/config';
import Layout from '@/modules/layouts/components/Layout.astro';
import TrickProvider from '@/modules/tricks/provider';
import CollectionHandler from '@/modules/collections/components/CollectionHandler.astro';

export async function getStaticPaths() {
  return difficultyLevels.map((difficulty: string) => ({
    params: {
      difficulty,
    },
  }));
}

const { difficulty } = Astro.params;

const trickProvider = new TrickProvider();

const { data: tricks } = await trickProvider.getTricks({
  edges: { creators: true },
  filter: { eq: { key: 'difficulty', value: difficulty as string } }, // TODO Type: is as string really needed ?
});
---

<Layout title={`${difficulty} tricks`}>
  <CollectionHandler trickIds={tricks?.map((trick) => trick.id) ?? []} />
  <main class='mx-auto max-w-7xl w-full min-h-full p-4 md:p-8 lg:p-10'>
    <h1 class='text-3xl mb-6 capitalize'>{difficulty} tricks</h1>
    <div class='grid md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-10'>
      {
        tricks?.map((trick) => (
          <TrickCard
            id={trick.id}
            preview={trick.preview}
            name={trick.name}
            types={trick.types ?? []}
            creators={creators[trick.id] ?? []}
          />
        ))
      }
    </div>
  </main>
</Layout>
